table#postingsTable {
    table-layout: fixed;
    width:99%;
}

div.sequenceTableContainer table {
    white-space: normal !important;
}

div.tab-content {
    padding: 0px !important;
}

div#mainContentDiv{
    margin-left: 20px !important;
}

div.container-fluid:nth-child(3) {
    padding-right: 0px !important;
}

table#postingsTable td {
    white-space:normal !important;
}

.gridBox .tablesorter-headerRow th {
    white-space:normal !important;
}

.gridBox td {
    white-space:normal !important;
}
