body {
    color:red;
}

table#postingsTable {
    table-layout: fixed;
    width:99%;
}

div.tab-content {
    padding: 0px !important;
}

/*
@media only screen and (max-width: 1200px) {
    table#postingsTable {
        table-layout: auto;
    }
}*/

div#mainContentDiv{
    margin-left: 20px !important;
}

div.container-fluid:nth-child(3) {
    padding-right: 0px !important;
}

table#postingsTable td {
    white-space:normal !important;
}
